.swiper-container {
    width: 100%;
    height: 418px;
  }
  
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    width: 100%;
    height: 350px;
    object-fit: cover;
  }
  
  .modal-backdrop.show{
    display: none;
  }