// 遮罩
.mask{
    background-color: #190014CC;
  }

// white-bg-btn
.white-bg-btn{
    background-color: #fff;
}

//banner
.banner{
  @include img;
  background-image: url("https://images.unsplash.com/photo-1506846540181-347008948fff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1186&q=80");
  height: 480px;
  background-attachment: fixed
}

// header
.header{
  position: sticky;
  top: 0;
  z-index: 2;
}

//nav
.nav-scroller {
  height: 2.75rem; /* 隱藏下方捲軸 */
  overflow-y: hidden; 
  border-bottom: 1px solid $dark;
}
.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom:1rem; /* 隱藏下方捲軸 */ 
  overflow-x: auto;
  white-space: nowrap;
  a{
    color: $dark;
    &:hover{
      color: $secondary;
      border-bottom: 2px solid $secondary;
    }
  }
}

.nav-link,.hover{
  color: $dark;
  cursor: pointer;
  &:hover{
    color: $secondary;
  }
}

//swiper
.swiper-container {
  width: 100%;
  height: 418px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

//cart

.modal.right .modal-dialog {
  position: fixed;
  top: 0%;
  right: 0;
  height: 100%;
  margin: 0;
  transform: translate3d(0%, 0, 0);
  width: 100%;
  @include media-breakpoint-up(lg) {
    top: 9%;
    height: 91%;
    max-width: 540px;
  } 
}

.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal {
  &-content {
    border-radius: 0;
    border: none;
  }
  &-header {
    border-bottom: none;
  }
  // &-body{
  //   .card{
  //     max-width: 540px;
  //   }
  // }
  &-footer {
    border-top: none;
  }
}

.modal-backdrop.show{
  display: none;
}

//scrollbar
::-webkit-scrollbar {
  height: (($scrollbar-padding * 2) + $scrollbar-height);
	// background-color: rgba(255,255,255,0);
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
	border: 11px solid rgba(255,255,255,0);
	background-clip: padding-box;
  @include media-breakpoint-up(md) {
    border: 10px solid rgba(255,255,255,0);
  }
}

::-webkit-scrollbar-track {
	background-color: #ccc;
}

::-webkit-scrollbar-thumb {
	background-color: $secondary;
}

// cart的數字圓點
.circlePoint{
  display: flex;
  justify-content: center;
  align-items: center;
  @include size (20px,20px);
  border-radius: 50%;
}

//material-icons
.material-icons{
  display: block;
}