// liveReview
.liveReview{
    @include img;
    height: 482px;
  }

  //subscribe
.subscribe{
    @include img;
    background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/exhibition-week6/wladislaw-peljuchno-Y_f1aHpR1tc-unsplash.jpg?raw=true");
    height: 400px;
  }