<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <!-- 標頭 -->
    <div class="header bg-white">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <div class="container-fluid p-0">
              <div class="d-flex justify-content-center w-100 w-lg-auto">
                <a href="#" class="text-primary position-absolute top-50 start-50 translate-middle h3 d-none d-lg-block">EXHIBINECTION</a>
                <a href="#" class="text-primary h3 d-lg-none">EXHIBINECTION</a>
            </div>
              <button class="navbar-toggler position-absolute top-0 mt-2 p-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="d-lg-flex justify-content-lg-end w-100">
                <ul class="navbar-nav ">
                  <li class="nav-item d-flex align-items-center">
                    <a class="nav-link text-dark active" aria-current="page" href="#">Sign in</a>
                  </li>
                  <li class="nav-item d-flex align-items-center">
                    <a class="nav-link text-dark ms-lg-6" href="#">Sign up</a>
                  </li>
                  <li class="nav-item">
                      <!-- cart -->
                      <!-- Button trigger modal -->
                      <a class="nav-link ms-lg-6 text-black" href="#" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        <span class="material-icons position-relative h2">local_activity
                          <span class="position-absolute top-0 start-100 translate-middle badge rounded-circle bg-secondary h6 lh-sm">3<span class="visually-hidden">unread messages</span></span>
                        </span>

                      <!-- Modal -->
                      <!-- 新增 .right -->
                      <div class="modal right fade modal-dialog-scrollable " id="staticBackdrop" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content text-white bg-black">
                            <div class="modal-header px-7 pt-7 pb-2">
                              <h1 class="modal-title fw-bold" id="exampleModalLabel">Cart List</h1>
                            </div>
                            <div class="modal-body text-black ps-7 pe-md-3 pt-3">
                              <!-- exhi item 1 -->
                              <div class="card rounded-3 position-relative py-6 px-7 mb-3">
                                <div class="position-absolute top-0 start-0 m-1">
                                  <button type="btn" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  <img src="" alt="">
                              </div>
                              <div class="card">
                                <div class="row g-0">
                                  <div class="col-md-4">
                                    <img class="w-100 h-100 ratio ratio-1x1" src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/exhibition-week6/alina-grubnyak-R84Oy89aNKs-unsplash.jpg" alt="...">
                                  </div>
                                  <div class="col-md-8 d-flex flex-column flex-md-row">
                                    <div class="card-body m-0 p-0 ms-md-4 me-md-4">
                                      <h5 class="card-title gw-bold mb-1">2020 台味設計展</h5>
                                      <h5 class="card-text mb-1">01 JUN — 31 OCT</h5>
                                      <h5 class="mb-1 mb-md-3">全票</h5>
                                      <h4 class="mb-2 mb-md-0">NT$350</h4>
                                    </div>
                                    <div class="count d-flex align-items-center justify-content-center">
                                      <span class="material-icons me-3">remove</span>
                                      <h4 class="fw-bold me-3">01</h4>
                                      <span class="material-icons">add</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              </div>

                            <!-- exhi item 2 -->
                            <div class="card rounded-3 position-relative py-6 px-7 mb-3">
                              <div class="position-absolute top-0 start-0 m-1">
                                <button type="btn" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="card mb-3">
                              <div class="row g-0">
                                <div class="col-md-4">
                                  <img class="w-100 h-100 ratio ratio-1x1" src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/exhibition-week6/michel-catalisano--a0D9LpcKV8-unsplash.jpg" alt="...">
                                </div>
                                <div class="col-md-8 d-flex flex-column flex-md-row">
                                  <div class="card-body m-0 p-0 ms-md-4 me-md-4">
                                    <h5 class="card-title gw-bold mb-1">2020 台味設計展</h5>
                                    <h5 class="card-text mb-1">01 JUN — 31 OCT</h5>
                                    <h5 class="mb-1 mb-md-3">全票</h5>
                                    <h4 class="mb-2 mb-md-0">NT$350</h4>
                                  </div>
                                  <div class="count d-flex align-items-center justify-content-center">
                                    <span class="material-icons me-3">remove</span>
                                    <h4 class="fw-bold me-3">01</h4>
                                    <span class="material-icons">add</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                            </div>

                            <!-- exhi item 3 -->
                            <div class="card rounded-3 position-relative py-6 px-7">
                              <div class="position-absolute top-0 start-0 m-1">
                                <button type="btn" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="card mb-3">
                              <div class="row g-0">
                                <div class="col-md-4">
                                  <img class="w-100 h-100 ratio ratio-1x1" src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/exhibition-week6/moralis-tsai-8xsktFRw28I-unsplash.jpg" alt="...">
                                </div>
                                <div class="col-md-8 d-flex flex-column flex-md-row">
                                  <div class="card-body m-0 p-0 ms-md-4 me-md-4">
                                    <h5 class="card-title gw-bold mb-1">2020 台味設計展</h5>
                                    <h5 class="card-text mb-1">01 JUN — 31 OCT</h5>
                                    <h5 class="mb-1 mb-md-3">全票</h5>
                                    <h4 class="mb-2 mb-md-0">NT$350</h4>
                                  </div>
                                  <div class="count d-flex align-items-center justify-content-center">
                                    <span class="material-icons me-3">remove</span>
                                    <h4 class="fw-bold me-3">01</h4>
                                    <span class="material-icons">add</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                            </div>
                            </div>
                            <div class="modal-footer d-flex justify-content-between mx-7">
                              <div class="totalCash d-flex align-items-center">
                                <h4 class="me-6">小計</h4> 
                                <span>NT$1050</span>
                              </div>
                              <button type="button" class="btn btn-outline-primary payMoney">前往結帳</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </li>
                  </ul>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>


    <%- contents %>

   
    <!-- subscribe -->
<div class="subscribe w-100 d-flex align-items-end">
  <div class="container">
      <div class="row my-7">
          <div class="col-12 text-white">
              <h1 class="mb-3">想收到最新消息嗎？<br>快訂閱我們！</h1>
              <div class="row">
                <div class="col-12 col-md-4">
                  <div class="input-group p-0">
                    <input type="text w-75" class="form-control" placeholder="輸入您的電子信箱" aria-label="Example text with button addon" aria-describedby="button-addon1">
                    <button class="btn btn-secondary btn-lg w-25 w-lg-auto" type="button" id="button-addon1">訂閱</button>
                  </div>
                </div>
                <div class="col-8"></div>
              </div>
          </div>
      </div>
  </div>
</div>


    <!-- footer -->
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <div class="container-fluid p-0">

              <a class=" h3 text-black me-md-4" href="#">EXHIBINECTION</a>
              <h5 class="w-100" >© 2020. All Rights Reserved.</h5>

              <div class="d-lg-flex justify-content-lg-end w-100 d-none d-lg-inline">
                <ul class="navbar-nav ">
                  <li class="nav-item d-flex align-items-center">
                    <a class="nav-link text-dark active" aria-current="page" href="#">Sign in</a>
                  </li>
                  <li class="nav-item d-flex align-items-center">
                    <a class="nav-link text-dark ms-lg-6" href="#">Sign up</a>
                  </li>
                  </ul>
                </div>
            </div>
          </nav>

        </div>
      </div>
    </div>

    <script src="./assets/js/vendors.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>