@import "../../../node_modules/bootstrap/scss/functions";
@import "./helpers/variables";

// 在這裡修改文字斷點(複製一個uitilities，來做修改)
@import './helpers/utilities';
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import '../../../node_modules/bootstrap/scss/utilities';



@import "./helpers/mixin";
@import "./setting/base";
@import "./setting/util";
@import "./layout/component";

// pages
@import "./layout/index.scss";