*,*:before,*:after{
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Noto Sans TC', sans-serif;
    // outline: solid 1px;
  }

body{
  h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    line-height: 1.5;
   }
  a{
    display: block;
    text-decoration: none;
  }
}

img{
    max-width:100%;
    height: auto;
    display: block;
    object-fit: cover;
  }

  .material-icons{
    display: block;
  }