
@include media-breakpoint-up(lg) {
  .w-lg-auto {
    width: auto!important;
  }

  .fs-lg-4 {
    font-size: 1.25rem !important;
  }

  .position-lg-absolute {
    position: absolute;
  }
  .translate-lg-middle {
    transform: translate(-50%, -50%);
  }
}

