@include media-breakpoint-up(lg) {
    .w-lg-auto {
      width: auto!important;
    }
  }

  @include media-breakpoint-up(lg) {
    .fs-lg-4 {
     font-size: 1.25rem !important;
    }
  }  


  .opacity-50{
    opacity: 0.5;
  }

