// stylelint-disable indentation

// Utilities

$utilities: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$utilities: map-merge(
  (
    
    "font-size": (
      responsive: true,//new
      rfs: true,
      property: font-size,
      class: fs,
      values: $font-sizes
    ),
  ),
  $utilities
);
